{% extends 'jobHome/base.html'%}
{% load static %}
{% block content %}


<div>
<div class="container" style=" margin-top: 200px;">
  <h2 style = "margin:20px">Job List</h2>

  
  <div class="dropdown">
    <button class="dropbtn">Categories</button>
    <div class="dropdown-content">
      {% for i in categories %}
    <a href="{{i.get_url}}">{{i.categories}}</a>
    {% endfor %}
    </div>
  </div>

  

  <br>



  <div class = " scroll  " style=" margin:auto;  margin-left:10px; height: 1010px; border-radius:10px">
  {% for job in jobs %}
    
  <div class = "shadow  md-5 pt-2  section-title " style=" border:1px solid rgb(202, 198, 198);margin-left:10px;  border-radius:10px   ">

    <h4 style="margin:10px;">{{job.post_name}}</h4>
    <p style="margin: 10px;"><i class="fa fa-bank"></i> {{job.organization_name}}</p>
    <h6 style="margin:10px ;"><i class="fa fa-map-marker"></i> {{job.job_location}} | <i class="fa fa-suitcase"></i> {{job.job_type}}</h6>
    <h6 style="margin:10px;"><i class="fa fa-calendar"></i> Last Date : {{job.end_date}}</h6>
    <button onclick="location.href ='{{job.get_url}}';" style=" margin: 10px; color:#0099CC; background-color: transparent; border: 2px solid #0099CC; border-radius: 5px;">Apply Now</button>
  </div>
<br>

{% endfor %}

</div>



























  {% endblock %}
